* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

#preloader {
  background: #222 url(images/preloader.gif) no-repeat center;
  background-size: 40%;
  height: 100vh;
  width: 100%;
  position: fixed;
}

.header {
  width: 100%;
  height: 100vh;
  background: black;
  color: white;
  padding: 0 8.5%;
  position: relative;
}

nav {
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px 0 10px;
  transition: all 300ms ease-in;
  user-select: none;
}

.logo {
  cursor: pointer;
}

.logo a {
  -webkit-user-drag: none;
  user-select: none;
  text-decoration: none;
  color: white;
}

nav ul {
  flex: 1;
  text-align: right;
  padding-right: 40px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 30px;
  animation: out 1s;
}

nav ul li a {
  color: white;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 17px;
}

nav ul li a:hover {
  background: -webkit-linear-gradient(rgb(255, 127, 193), rgb(163, 0, 106));
  transition: all 0.3s ease-in;
  background-clip: unset;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav ul li:hover {
  animation-name: in;
  animation-duration: 1s;
}

@keyframes in {
  100% {
    transform: scale(1.1, 1.1);
  }
}

@keyframes out {
  0% {
    transform: scale(1.1, 1.1);
  }
}

.text-box {
  margin-top: 15%;
  font-size: 17px;
  letter-spacing: 1px;
  line-height: 26px;
}

.text-box h1 {
  font-size: 50px;
  line-height: 130px;
  user-select: none;
}

.fa {
  margin: 20px 10px;
  background: linear-gradient(
    4deg,
    rgba(230, 97, 165, 1) 0%,
    rgba(105, 1, 69, 1) 100%
  );
  color: white;
  padding: 10px;
  font-size: 30px;
  height: 40px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  user-select: none;
}

.fa-user {
  margin: 15px 2px;
  color: white;
  padding: 10px;
  font-size: 20px;
  height: 40px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  user-select: none;
}

.fa-user:hover {
  background: linear-gradient(4deg, rgb(230, 97, 148) 0%, rgb(199, 4, 62) 100%);
  background-clip: unset;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 1s ease-in;
}

.fa:hover {
  transition: all 0.3s ease-in;
}

.tooltip {
  position: relative;
  display: inline-block;
  z-index: 0;
}

.tooltip:before {
  text-align: center;
  justify-content: center;
  position: absolute;
  content: "";
  top: 26%;
  left: 17%;
  background: linear-gradient(4deg, #00fffb 0%, #00ff15 100%);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  transform: scale(0.9);
  z-index: -1;
  transition: 0.5s;
}

.tooltip:hover:before {
  filter: blur(3px);
  transform: scale(1.5);
  box-shadow: 0 0 15px #37007c;
}

.tooltip:hover .fa-github {
  color: #000;
}

.tooltip:hover .fa-twitter {
  color: #00aeff;
}

.tooltip:hover .fa-facebook {
  color: #0f27df;
}

.tooltip .tooltip-text {
  font-size: 10px;
  visibility: hidden;
  width: 120px;
  background: linear-gradient(4deg, rgb(230, 97, 148) 0%, rgb(105, 1, 32) 100%);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  margin-left: -60px;
  top: 100%;
  left: 50%;
  position: absolute;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

.tooltip .tooltip-text::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgba(105, 1, 69, 1) transparent;
}

.avatar {
  width: 540px;
  position: absolute;
  right: 10%;
  bottom: 0;
  z-index: 0;
}

.text-box h1 span {
  background: linear-gradient(4deg, rgb(230, 97, 148) 0%, rgb(199, 4, 62) 100%);
  background-clip: unset;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Responsiveness */

@media (min-height: 700px) {
  .avatar {
    width: 650px;
    position: absolute;
    right: 10%;
    bottom: 0;
  }

  .text-box {
    margin-top: 20%;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 32px;
  }
}

@media (max-height: 620px) {
  .avatar {
    width: 450px;
    position: absolute;
    right: 10%;
    bottom: 0;
  }

  .text-box {
    margin-top: 10%;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 25px;
  }
}

@media (max-height: 730px) {
  .avatar {
    width: 450px;
    position: absolute;
    right: 10%;
    bottom: 0;
  }

  .text-box {
    margin-top: 10%;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 25px;
  }
}
